include README.md LICENSE
recursive-include tunel *.png
recursive-include tunel *.sh
recursive-include tunel *.yml
recursive-include tunel *.yaml
recursive-include tunel *
recursive-include scripts *
recursive-include * *.png
prune env*
global-exclude .env
global-exclude *.py[co]
recursive-exclude .git *
global-exclude *.img
global-exclude *.simg
global-exclude *.sif
global-exclude __pycache__
prune docs*
